.dashboard {
	display: grid;
	// height: 100%;
	grid-template-areas: 'indicadores' 'container';
	grid-template-rows: 100px 1fr;
	grid-template-columns: 1fr;
	margin: 5px;
	.indicadores {
		grid-area: indicadores;
		margin: 5px 0;
	}
	.dashboard-card {
		display: grid;
		flex: auto;
		grid-template-columns: auto auto auto auto;
		grid-template-rows: auto;
		grid-gap: 10px;
		grid-auto-flow: column;
		.card {
			width: 100%;
			text-align: center;
			padding: 10px 0;
			font-size: 30px;
		}
	}
	.container {
		display: grid;
		// margin-top: 5px;
		padding: 10px;
		background-color: #ffffff;
	}
	// display: flex;
	// background-color: #571057;
}
